@import url('https://fonts.cdnfonts.com/css/vegan-abattoir');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: green;
  }


  
  nav img {
    max-height: 50px;
  }
  
  .Categories {
    display: flex;
    gap: 20px;
  }
  
  .Option{
    font-family: 'Vegan Abattoir', sans-serif;
    border: 2px solid;
    border-color: black;
    font-size: 20px;
    cursor: pointer;
    text-shadow: 1px 1px 2px #733641;
    background-color: #592C30;
    color: #D9CBBF;
    background-color: #D9CBBF;
    color: #592C30;
  }

  .Option:hover
  {
    
    background-color: #592C30;
    color: #D9CBBF;
  }