.Container {
  display: flex;
  justify-content: center;
}

.ListGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  background-color: #008000;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 720px) {
  .ListGroup {
    justify-content: flex-start;
  }
}

@media (min-width: 721px) and (max-width: 1024px) {
  .ListGroup {
    justify-content: space-between;
  }
}
